body {
    margin: 0;
    padding: 0;
    font-family: '-apple-system', BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', sans-serif; 
    background-color: #121212;
    color: #ffffff;
    position: relative;
    overflow: hidden;
}
.controls {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    transition: opacity 0.3s;
}

.controls.hidden {
    opacity: 0;
}

.controls.show {
    opacity: 1;
}

.background-blur {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(3);
    z-index: -1;
}
.hide {
    transform: translateY(-100%);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(28, 28, 28, 0.9);
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #333333;
    transition: transform 0.5s ease-out;
}

header .track-title {
    margin: 0;
    font-size: 24px;
    color: #d7d68a;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    z-index: 1;
}

.player {
    background-color: rgba(28, 28, 28, 0.9);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    width: 90%;
    max-width: 400px;
}

.player img {
    width: 100%;
    border-radius: 10px;
}

.controls {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls button {
    background-color: #d7d68a;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: #121212;
    font-size: 20px;
    cursor: pointer;
}

.controls button:hover {
    background-color: #d7d68a;
}

.seekbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
}

.time {
    font-size: 14px;
    color: #d7d68a;
}

.seekbar {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    background: #333333;
    border-radius: 5px;
    margin: 0 10px;
    outline: none;
    cursor: pointer;
}

.seekbar::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 15px;
    height: 15px;
    background-color: #d7d68a;
    border-radius: 50%;
    cursor: pointer;
}

.seekbar::-moz-range-thumb {
    width: 15px;
    height: 15px;
    background-color: #d7d68a;
    border-radius: 50%;
    cursor: pointer;
}
